<main>
  <section class="banner">
    <div class="center">
      <div>
        <h1>CV Generator</h1>
        <p>Create your CV</p>
        <div class="button">
          <button mat-raised-button>Get Started</button>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
  <section class="info">
    <aside class="left">
      <h2>High quality</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error iure
        architecto impedit autem quasi tempore sed modi, ducimus aperiam amet
        tempora illo sint, incidunt molestias quae perferendis ullam reiciendis
        beatae?
      </p>
    </aside>
    <aside class="middle">
      <h2>Choose template yourself</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cumque modi
        alias, deleniti ipsum dignissimos accusamus odio obcaecati officiis
        velit, enim temporibus porro nemo autem animi inventore numquam? Ex,
        aliquam!
      </p>
    </aside>
    <aside class="right">
      <h2>No charge</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
        explicabo alias culpa tempora. Placeat, blanditiis aspernatur deserunt
        illum ut quisquam nihil fugit explicabo quos? Corrupti obcaecati
        repellat beatae soluta porro.
      </p>
    </aside>
  </section>
  <div class="center-divider">
    <mat-divider class="balance-width"></mat-divider>
  </div>
  <section class="note">
    <aside class="left">
      <div>
        <h2>Is my data safe ?</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Necessitatibus error quo, alias et minima labore nihil odit modi
          consectetur repudiandae, animi delectus tempore, ab at esse
          accusantium quia. Enim, alias!
        </p>
      </div>
    </aside>
    <aside class="right">
      <i class="fa-solid fa-circle-check"></i>
    </aside>
  </section>
  <div class="center-divider">
    <mat-divider class="balance-width"></mat-divider>
  </div>
  <!-- <section class="templates">
    <aside class="top">
      <h2>Example templates</h2>
    </aside>
    <aside class="bottom">
      add soon
    </aside>
      <div class="center-divider">
    <mat-divider class="balance-width"></mat-divider>
  </div>
  </section> -->
  <section class="social">
    <ul>
      <li>
        <a href="https://www.facebook.com/Kosta202/" target="_blank">
          <div class="card">
            <aside class="top">
              <i class="fa-brands fa-facebook"></i>
            </aside>
            <aside class="bottom">
              <p>Facebook</p>
            </aside>
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/kostad/" target="_blank">
          <div class="card">
            <aside class="top">
              <i class="fa-brands fa-linkedin"></i>
            </aside>
            <aside class="bottom">
              <p>Linkedin</p>
            </aside>
          </div>
        </a>
      </li>
      <li>
        <a href="https://github.com/kostad02" target="_blank">
          <div class="card">
            <aside class="top">
              <i class="fa-brands fa-github"></i>
            </aside>
            <aside class="bottom">
              <p>GitHub</p>
            </aside>
          </div>
        </a>
      </li>
      <li>
        <a (click)="showGmail()">
          <div class="card">
            <aside class="top">
              <i class="fa-solid fa-envelope"></i>
            </aside>
            <aside class="bottom">
              <p>Contact me</p>
            </aside>
          </div>
        </a>
      </li>
    </ul>
  </section>
</main>
